html {
    font-family: "Montserrat, Smythe", system-ui;
    font-style: normal;
}

body {
    margin: 3em auto;
    background-color: #eeeded;
}

/* header */

header {
    font-family: "Smythe", system-ui;
    font-size: 2rem;
    font-weight: 900;
    padding: .2em;
    margin: 2.25em auto 0;
    text-align: center;
    width: 90%;
}

.img-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-texas {
    width: 25%;
    height: 25%;
}

.img-wrapper h1 {
    margin: 0 .25em;
    font-size: 2rem;
}

/* mobile navigation */

.fa-bars {
    position: absolute;
    top: .5em;
    right: 1em;
    font-size: 3rem;
    color: #0b057c;
}

.mobile-nav-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0b057c;
    color: #d91111;
    z-index: 50;
}

.fa-xmark {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 3rem;
    color: #d91111;
    cursor: none;
}

.mobile-nav-menu nav ul {
    text-align: center;
    list-style: none;
    padding: 1em auto;
    margin: 5em auto;
}

.mobile-nav-menu nav ul li a {
    text-decoration: none;
    color: #d91111;
    font-size: 5rem;
    font-weight: 500;
}   

/* .mobile-nav-menu nav ul li a:hover {
    color: #ff0000;
} */

.mobile-nav-menu nav ul li {
    padding: 1em 0;
    margin: 1em auto;
    
}

.mobile-nav-menu nav ul li:not(:last-child) {
    border-bottom: 2px dashed #d91111;
    width: 90%;
    height: 3em;
}

/* .mobile-hamburger-menu:has(input:checked) + .mobile-nav-menu {
    display: none;
} */

/* home - main */

.img-hero {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}


.img-hero h2,
.img-hero p {
    position: relative;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0 auto;
    padding: 1em;
}

.img-hero h2 {
    line-height: 1.2em;
    text-align: center;
    font-size: 1.5rem;
}

.img-hero p {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5em;
    margin: 1.5em auto;
}

/* background image */
.img-hero::before {
    content: "";
    background-image: url("/assets/images/texasStateFlag.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 15em;
    left: 1em;
    right: 1em;
    bottom: 15em;
    opacity: 0.25;
    height: 100%;
}

/* hike and bike pages */

/* main */
.things-to-do {
    font-family: 'Montserrat', sans-serif;
}

.individual-things {
    position: relative;
    width: 100%;
    margin-bottom: 2em;
    background-color: #bdbdbd;
}


.individual-things h2 {
    position: absolute;
    top: 1.25rem;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #d6d6d6;
    text-shadow: #000 1px 1px 2px;
}

.individual-things p {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0 auto;
}

.individual-things img {
    width: 100%;
    margin: 0;
}

.individual-things ul {
    list-style: none;
    padding: 0;
    margin-top: .25em;
    margin-left: 1em;
    font-weight: 600;
}

.individual-things ul li {
    padding: .05em 0;
    margin: .15em 0;
}

/* footer */
footer {
    font-family: 'Montserrat', system-ui;
    font-size: .75rem;
    font-weight: 700;
    text-align: center;
    margin-top: 2em;
    padding: 1em;
}

@media (min-width: 800px) {
  
    .header-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin: 1em 0;
        font-size: 3rem;
    }

    .img-wrapper {
        display: flex;
        text-align: center;
    }

    .img-wrapper h1 {
        margin: 1em auto;
    }

    .fa-bars {
        display: none;
    }

    .header section nav {
        display: inline-block;
    }

    .nav-menu nav ul {
        display: flex;
        margin: 5em auto;
    }

    .nav-menu nav ul li {
        display: flex;
        padding: 1em 0;
        margin: 1em auto;
    }

    .disabled {
        pointer-events: none;
        color: #bdbdbd
    }
}